.cases-gallery {
  @include mq(tab) {
    @include gridFlexWrap();
  }

  &__item {
    @include mq(tab-only) {
      max-width: 354px;
    }

    background: #ffffff;
  }
  &__item + &__item {
    @include mq(mob-only) {
      margin-top: 30px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    outline: 0;

    height: 100%;

    @include mainTransition(box-shadow);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__card {
    position: relative;
    overflow: hidden;
  }

  &__img {
  }

  &__information {
    position: absolute;
    top: 0;
    left: 0;

    padding: 63px 24px;

    width: 100%;
    height: 100%;
    text-align: left;

    background: rgba(33, 150, 243, 0.9);

    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: $thirdTextColor;

    transform: translateY(101%);

    @include mainTransition(transform);
    .cases-gallery__link:hover &,
    .cases-gallery__link:focus & {
      transform: translateY(0);
    }
  }

  &__desc {
    flex-grow: 1;
    padding: 20px 24px;

    @include borderType(#eeeeee, $l-width: 1px);
    border-top: none;
  }

  &__subtitle {
    margin-bottom: 4px;

    @include mainTextStyle($fontFamyly, 700, 18px, 36px, 0.06em);
    color: $primaryTextColor;
  }

  &__text {
    @include mainTextStyle($fontFamyly, $weight, 16px, 30px, $spacing);
    color: $seconderyTextColor;
  }
}

// ЗБІЛЬШЕННЯ height до 147px для .cases-gallery__desc (Технокряк)
// @include mq(tab-only) {
//   .cases-gallery__item:first-child {
//     // outline: 1px solid red;
//     .cases-gallery__desc {
//       height: 147px;
//     }
//   }
// }
