.footer {
  background-color: $footerBgColor;

  &__wrap {
    @include mq(not-desk) {
      text-align: center;
    }

    padding-top: 60px;
    padding-bottom: 60px;
    align-items: baseline;

    @include mq(desk) {
      @include centeredFlex($ai: baseline);
    }

    &--position {
      @include mq(tab) {
        @include centeredFlex($jc: space-around, $ai: baseline);
      }
    }
  }
}

.footer-socialnets {
  &__title {
    margin-bottom: 20px;
    @include mainTextStyle($fontFamyly, 700, $size, $height, $spacing);
    text-transform: uppercase;
    color: $thirdTextColor;
  }
}

.footer-contacts {
  @include mq(mob-only) {
    margin-bottom: 60px;
  }
  @include mq(desk) {
    margin-right: 70px;
  }
}

.footer__logo {
  display: inline-flex;
  margin-bottom: 28px;
  color: $thirdTextColor;
}

.address-list {
  &__item + &__item {
    margin-top: 12px;
  }

  &__map {
    @extend %footerContactsStyle;
    color: $thirdTextColor;

    @include mainTransition(color);
    &:hover,
    &:focus {
      color: $accentColor;
    }
  }

  &__tel,
  &__mailto {
    @extend %footerContactsStyle;
    color: $forthTextColor;
    @include mainTransition(color);
  }

  &__tel:hover,
  &__tel:focus,
  &__mailto:hover,
  &__mailto:focus {
    color: $accentColor;
  }
}

.socialnets {
  &__link {
    background-color: $secondaryIconBgColor;
  }

  &__icon--color {
    fill: $thirdTextColor;
  }
}
