.header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  @include centeredFlex();

  height: 60px;

  @include mq(tab) {
    @include centeredFlex();
    height: 80px;
  }
}

.header-menu {
  @include mq(mob-only) {
    display: none;
  }

  @include centeredFlex();
  margin-left: 95px;

  &__item {
    position: relative;
  }

  &__item + &__item {
    margin-left: 50px;
  }

  &__link {
    padding-top: 10px;
    padding-bottom: 30px;

    color: $primaryTextColor;

    @include mainTextStyle('Roboto', 500, 14px, 16px, 0.02em);

    @include mainTransition(color);
    &:hover,
    &:focus {
      color: $accentColor;
      outline: 0;
    }
  }
}

.underline::after {
  content: '';
  position: absolute;
  bottom: -29.5px;
  right: 0;

  width: 0;
  height: 4px;

  background-color: $accentColor;
  border-radius: 2px;
  @include mainTransition(width);
}

.header-menu__link:hover::after,
.header-menu__link:focus::after,
.header-menu__link.current::after {
  width: 100%;
  left: 0;
}

.current {
  outline: 0;
  color: $accentColor;
}

.header-contacts {
  margin-left: auto;

  @include mq(mob-only) {
    display: none;
  }
  @include mq(desk) {
    @include centeredFlex();
  }

  &__item {
    color: $seconderyTextColor;
  }

  &__item + &__item {
    @include mq(desk) {
      margin-left: 30px;
    }
  }

  &__link {
    padding-top: 10px;
    padding-bottom: 10px;

    color: inherit;

    @include mainTextStyle($fontFamyly, $weight, 12px, 14px, 0.02em);

    @include mainTransition(color);
    &:hover,
    &:focus {
      color: $accentColor;
      outline: 0;
    }

    @include mq(desk) {
      @include centeredFlex();
      @include mainTextStyle($fontFamyly, $weight, $size, $height, 0.02em);
    }
  }

  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  &__icon-email {
    @include mq(not-desk) {
      width: 14px;
      height: 10px;
    }
  }
  &__icon-tel {
    @include mq(not-desk) {
      width: 10px;
      height: 14px;
    }
  }
}
