.clients {
  &__title {
    @extend %secondTitleStyle;
  }
}
.clients-list {
  @include mq(mob-tab) {
    @include gridFlexWrap();
  }
  @include mq(desk) {
    @include centeredFlex();
  }

  &__item + &__item {
    @include mq(mob-befor) {
      margin-top: 30px;
    }

    @include mq(desk) {
      margin-left: 30px;
    }
  }

  &__link {
    @include centeredFlex();

    margin-left: auto;
    margin-right: auto;

    width: 210px;
    height: 92px;

    @include borderType($mainIconColor, $l-width: 1px);
    border-radius: 4px;

    @include mainTransition(border-color);

    &:hover,
    &:focus {
      outline: 0;
      border-color: $accentColor;
    }

    @include mq(tab) {
      width: 226px;
    }

    @include mq(desk) {
      width: 170px;
    }
  }

  &__icon {
    fill: $mainIconColor;
    @include mainTransition(fill);
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $accentColor;
  }
}
