.advantages {
}

.advantages-list {
  @include mq(tab) {
    @include gridFlexWrap();
  }

  &__item {
    @include mq(mob-befor) {
      max-width: 290px;
      margin-left: auto;
      margin-right: auto;
    }

    @include mq(tab) {
      width: 354px;
    }
    @include mq(desk) {
      width: 270px;
    }
  }

  &__item + &__item {
    @include mq(mob-only) {
      margin-top: 30px;
    }
  }

  &__wrap {
    @include centeredFlex();
    margin-bottom: 30px;

    height: 120px;

    background-color: $secondaryBgColor;

    @include mq(tab) {
      width: inherit;
    }
  }

  &__icon {
  }

  &__title {
    margin-bottom: 10px;

    color: $primaryTextColor;

    @include mainTextStyle($fontFamyly, 700, $size, $height, $spacing);
    text-transform: uppercase;

    @include mq(mob-only) {
      text-align: center;
    }
  }

  &__text {
    @include mainTextStyle($fontFamyly, 400, $size, 24px, $spacing);
    color: $seconderyTextColor;
  }
}
