.socialnets {
  @include centeredFlex();

  &--paddings {
    padding-top: 16px;
    padding-bottom: 30px;
  }

  &__item {
  }

  &__item + &__item {
    margin-left: 10px;
  }

  &__link {
    @include centeredFlex();
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $mainIconColor;

    @include mainTransition(background-color);
  }

  &__link:hover,
  &__link:focus {
    background-color: $accentColor;
    outline: 0;
  }

  &__icon {
    @include mainTransition(fill);
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $thirdTextColor;
  }
}

.mobile-socialnets {
  margin-top: 64px;
  @include centeredFlex($jc: flex-start);
  flex-wrap: wrap;
  row-gap: 10px;

  &__item + &__item {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__link {
    color: $accentColor;
    padding: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 0.02em;
    &--left {
      padding-left: 0;
    }
  }
}
